 




<div align="center">
	<br/><br/><br/><br/>
	<img alt="image" class="img-rounded" src="assets/img/gmlp.JPG" width="290" heigth="260" />
	<h1>ADMINISTRACIÓN TRIBUTARIA MUNICIPAL</h1>
	<!--
	<button (click)="gotoInicio()"> Inicio </button>
	<button (click)="gotoNosotros()"> Sobre Nosotros </button>
	<button (click)="gotoGaleria()"> Galerias </button>
	-->
	<button (click)="gotoLogin()" class="btn btn-primary-lg">Consultar Publicaciones Mixtas</button>
	<!--
	
	-->
	<!--
	<a routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
	-->
</div> 	





